fastapi
pydantic
python-dotenv
google-auth
google-auth-oauthlib
google-api-python-client
oauth2client
vaderSentiment
uvicorn
passlib[bcrypt]
python-jose
pymongo
email-validator
httpx
pillow
opencv-python-headless
fastapi-limiter
asyncpraw
numpy
websockets
gunicorn
huggingface_hub
